.wrapper {
    width: 700px;
    min-height: 500px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputArea {
    height: 70px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanClass {
    color: #FFFFFF;
    font-size: 22px;
}

.addBorderRadius {
    border-radius: 10px;
}