.wrapper {
    width: 700px;
    min-height: 500px;
    background-color: #EAECEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compatibilityTest {
    border-radius: 10px;
}

.column {
    box-shadow: 0 0 25px 20px rgba(11, 5, 32, 0.2);
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.testSpanError {
    color: blue;
}