.wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

.errorMessage {
    font-size: 80px;
}

.link {
    font-size: 80px;
    margin-top: 50px;
    color: crimson;
    transition: 1s;
}

.link:hover {
    opacity: 0.5;
    transition: 1s;
}